@media (min-width: $screen-sm-min) {
  .contact-list-container {

    .contact {
      width: 50%;
      border: 1px solid $gray-lighter;

      &:nth-child(even) {
        background-color: $body-bg;
      }

      picture {
        margin: 1.2em auto;
        width: 40%;
        display: inline-block;
        text-align: center;

        img {
          border-radius: 5em;

          -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
          -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
          box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
        }

      }

      .basic-info {
        width: 50%;
      }

      .dob {
        text-align: left;
        display: block;
      }

    }
  }

}